.project
.settings
application/.classpath
application-it/.classpath
application-it/target
application/target
bin
gen
starseeker-test/.classpath
starseeker-test/hs_err_*.log
application-test/.classpath
application-test/target/
application/tmp
